desktop.ini
venv
__init__.py
__pycache__/
admin.py
apps.py
migrations
tests.py
db.sqlite3
babel.config.json
package-lock.json
package.json
manage.py
webpack.config.js
payroll_system/frontend/models.py
payroll_system/frontend/urls.py
payroll_system/frontend/views.py
payroll_system/frontend/node_modules/
payroll_system/payroll_system
