.payroll {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 5px;
}

.payroll > div {
  margin-bottom: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.np {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  float: right;
}

.pay_cont {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 60%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-top: 25px solid #c0c0c0;
  border-bottom: 2px solid #c0c0c0;
  /* border-bottom: #aaaaaa; */
  background-color: #f6f6f6;
}

.inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 3;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.gg {
  display: flex;
  margin-left: 2rem;
  align-items: center;
  height: 100%;
  font-size: 8rem;
  color: #4977ad;
}

.poss {
  display: flex;
  justify-content: center;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
}

.int {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  background-color: #f6f6f6;
}

.int > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
}
.int > p:nth-of-type(even) {
  background-color: #d4d4d4;
}

.a {
  flex: 1;
}

.fields {
  flex: 5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f6f6f6;
}

.fields > div:nth-of-type(even) {
  background-color: #d4d4d4;
}

.fields > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.field-cont1 {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.field-cont2 {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 0 0 20px 0;
}

.int1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c3c3;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.int1 > input {
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #858282;
  cursor: text;
}
